<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=mysql421.db.sakura.ne.jp;database=msyoka_phpsamples;uid=msyoka;pwd=1ff2i123" name="msyoka_phpsamples" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
